<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">

                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <a href="{{ url_for('dashboard') }}" class="nav-link " id="v-pills-home-tab"
                                 type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true" >Main
                        </a>
                        <a href="{{ url_for('profile') }}" class="nav-link" id="v-pills-profile-tab"
                                 type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false">Profile
                        </a>

                    </div>

                </div>

            </div>
        </nav>