<!-- Modal_Edit -->
{#{% for _ in get_user.links %}#}
<div class="modal fade" id="edit{{ _.id }}" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="edit">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('update') }}" method="post" >
            <div class="form-group p-1">
                <input type="hidden" name="id" value="{{ _.id }}">
                <label class="form-label fw-semibold">User Link :</label>
                <input type="text" class="form-control fw-light" name="user_links" value="{{ _.user_link }}">
            </div>
            <div class="form-group p-1">
                <label class="form-label fw-semibold">Title :</label>
                <input type="text" class="form-control fw-light" name="user_title" value="{{ _.link_title }}">
            </div>
            <div class="form-group p-1">
                <label class="form-label fw-semibold">Custom back-half (optional):</label>
                <input type="text" class="form-control fw-light" name="back-half" value="{{ _.short_link }}">
            </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Save changes</button>
      </div>
        </form>
      </div>

    </div>
  </div>
</div>
{#{% endfor %}#}

<div class="modal fade" id="qrcode{{ _.id }}" tabindex="-1" aria-labelledby="qrcode" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="qrcode">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <div>

           <img src="../static/qr_codes/{{_.id}}.png"  class="img-fluid img-thumbnail" >

       </div>
      </div>

    </div>
  </div>
</div>